body {
  padding-top: 10px;
  background: #fff;
  background: url(/images/bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 40px;
}

.narrow {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.footer {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px #e5e5e5 solid;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .nav {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer .credits {
  padding: 10px;
  font-size: 12px;
}
